<h1>Private page</h1>

{{#if user}}
  <div id="container">
    <h2>You are logged in!</h2>

    <br>

    <h3>That is so cool!!!</h3>

    <a href="/">Go Home</a>
    <br>

    <p>Or <a href="/logout">Logout</a></p>

  </div>
{{/if}}